body{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 300px;       
    background-color: #B6C9BB;
    color: #4A2F4B;
}

h1.report{
    color: #ffffff;
    text-shadow:
    1px 0 0 #9684a1,
    0 1px 0 #9684a1,
    -1px 0 0 #9684a1,
    0 -1px 0 #9684a1
}

h1.shikaku{
    color: #ffffff;
    text-shadow:
    1px 0 0 #95989D,
    0 1px 0 #95989D,
    -1px 0 0 #95989D,
    0 -1px 0 #95989D
}

h1.programing{
    color: #ffffff;
    text-shadow:
    1px 0 0 #4A2F4B,
    0 1px 0 #4A2F4B,
    -1px 0 0 #4A2F4B,
    0 -1px 0 #4A2F4B
}

ul.a {
    font-size: 24px;
    color: #1e366a;
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
}

ul.b{
    font-size: 24px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    background: #fffcf4;
    border-radius :8px;/*角の丸み*/
    box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
    padding: 0.5em 0.5em 0.5em 2em;
}

img{
    width: 500px;
    height: auto;
}



/* このサイトが成果！
　　HTMLは　HyperText Markup Languageの略称
　　CSSは　Cascading Style Sheetsの略称　
    きっかけは進路のため
    気持ちは本当に大変　時間がない
    大変だったことは時間がないこと　体力も続かない
    意識としては参考書やN予備校の先生の言っていることに必死に食らいつく感じ
    今後に活かせることは進学や就職に活かせる　活かせると思ってがんばってる。
    */
